
/* tweet text area to type new tweet*/
#tweet-text{
  width: 100%
}

/* tweet button */
.button {
  background-color: #4056A1;
  font-family: 'Bungee';
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
}

/* tweet button and counter */
.parent-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* counter */
.counter{
  font-size: 30px;
  font-family: 'Bungee';
}

/* posted tweets display */
.tweet-data{
  display: block; 
  border-style: solid;
  margin-top: 50px;
  padding: 30px;
}

/* cast shadow when hover over the tweet box */
.tweet-data:hover{
  box-shadow: 5px 10px #888888;
}


.article-header{
  display: block;
}

/* avatar displayed beside tweet */
.tweet-profile-pic{
  height: 70px;
  width: 70px;
  float: left;
  /* margin-left: 30px;
  margin-top: 20px; */
}

/* line separating the tweet content and the tweet icons */
.solid{
  width: 100%
}


/* the username displayed in the tweet */
.username{
  font-family: 'Sans-serif';
  font-size: 18pt;
  float: left;
  margin-left: 20px;
  font-family: 'Source Sans Pro';
}

/* the tweet id display in the tweet */
.tweetID{
  float: right;
  margin-right: 30px;
  font-family: 'Source Sans Pro';
  font-size: 18pt;
  color: rgb(163, 161, 161)
}


/* tweet content display */
.tweet-content{
  display: block;
  padding-top: 5%;
  font-size: 22px;
  text-align: left;
  width: fit-content;
}

/* the time ago, flag, retweet and heart icons below the tweet */
.tweet-box-footer{
  display: block;
  font-size: 14pt;
}

/* shows the time ago that the tweet was posted */
.time-ago{
  float: left;
}

/* the flag icon in the tweet */
.flag-icon{
  float: right
}

.flag-icon:hover{
  color: orange;
}

/* the retweet icon in the tweet */
.retweet-icon{
  float: right
}

.retweet-icon:hover{
  color: #163dbd;
}

/* the heart icon in the tweet */
.heart-icon{
  float: right;
}

.heart-icon:hover{
  color: red;
}

/* error message format */
.error{
color: red
}