
/* tweet text area to type new tweet*/
#tweet-text{
  width: 100%;
  background: transparent;
  border: none

}

textarea::placeholder {
  color: black;
  font-family: sans-serif;
  font-size: 14pt;
  font-style: bold;
  
  
}

/* tweet button */
.button {
  background-color: #4056A1;
  font-family: 'Bungee';
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
}

/* tweet button and counter */
.parent-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* counter */
.counter{
  font-size: 30px;
  font-family: 'Bungee';
}

/* posted tweets display */
.tweet-data{
  
  border-style: solid;
  margin: 1.5em 0;
  padding: 1em;

 
}

/* cast shadow when hover over the tweet box */
.tweet-data:hover{
  box-shadow: 5px 10px #888888;
}


.tweet-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-header div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* avatar displayed beside tweet */
.tweet-profile-pic{
  height: 50px;
  width: 50px;

}

/* line separating the tweet content and the tweet icons */
.solid{
  width: 100%
}


/* the username displayed in the tweet */
.username{
  font-size: 16pt;
 
 
  font-family: sans-serif;

}

/* the tweet id display in the tweet */
.tweetID{
 
 
  font-family: sans-serif;
  font-size: 16pt;
  color: rgb(163, 161, 161);

}


/* tweet content display */
.tweet-content{
  
  
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  word-wrap: break-word;
}

/* the time ago, flag, retweet and heart icons below the tweet */
.tweet-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* shows the time ago that the tweet was posted */
.time-ago{
  /* float: left; */
  font-family: sans-serif;
  font-size: 10;
}

.tweet-icons i:hover{
  color: orange;
}

/* error message format */
.error{
color: red
}